body{
  
    background-image: url("underwaterMarch.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    background-color: black;
    width:100vw;
    margin:0px;
    
    
}

h1{
    position: absolute ;
    color:rgba(83, 78, 78, 0.35);
    font-family:  'Merienda', cursive;
    font-size: 40px;
    bottom: 10px;
    left: 40px;   
}

h3{ 
    
    display: inline-flex;
    color:rgba(255,255,255,0.4);
    font-family: 'Merienda', cursive;
    font-size: 30px;
    padding-left:60px;
    transform: rotateX(40deg);
    transform: rotateY(60deg)

    
    
    
   
    
    

   

}
